.container {
  width: 800px;
  margin: auto;
}

.blog-content {
  width: 80%;
  height: 150px;
  /* background-color: aqua; */
  float: left;
}

.blog-img {
  width: 20%;
  height: 150px;
  /* background-color: blue; */
  float: left;
}

.blog-user-img {
  width: 50px;
  border-radius: 100%;
  float: left;
}

.blog-name {
  float: left;
}
