.main-background {
  width: 100%;
  height: 500px;
  background-image: url(./img/\ freight.avif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* margin collapse 현상 방지하기위해 패딩 줌 */
  padding: 1px;
}

.main-logo {
  background-image: url(./img/logo.png);
  width: 100%;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 160px;
}

.main-title {
  color: white;
  font-size: 40px;
  text-align: center;
  margin-top: 10px;
}

.main-greeting {
  color: white;
  text-align: center;
}

.btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: goldenrod;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: solid 1px black;
}
